* {margin: 0; padding: 0;}
p, span, label, h1, h2, h3, h4, h5, a {font-weight: 400; text-decoration: none; color: #000;}
input, textarea, select, button {border: none; background: transparent; outline: none; resize: none;}
button {cursor: pointer;}

input, textarea, select {border: 1px solid #999; border-radius: 6px;}

.display-block {display: block !important;}
.display-none {display: none !important;}


/* 바디 */
body {margin-top: 116px;}

/* 헤더 */
#header {display: flex; flex-direction: column; align-items: center; position: fixed; z-index: 1000; top: 0; left: 0; width: 100%; background: #fff; border-bottom: 1px solid #bbb; box-sizing: border-box;}
#header .inner {display: flex; justify-content: space-between; align-items: center; padding: 0 30px; padding-bottom: 32px; width: 100%; max-width: 1200px; box-sizing: border-box;}

#header .logo {display: flex; align-items: center; height: 100%;}
#header .logo > a {font-size: 34px; font-weight: 600;}

#header .gnb {display: flex; align-items: center; gap: 22px; }
#header .gnb .list {}
#header .gnb .list > a {font-size: 18px; font-weight: 500;}

#header .util {display: flex; justify-content: flex-end; align-items: center; gap: 22px; padding: 0 30px; width: 100%; max-width: 1200px; height: 43px; box-sizing: border-box;}
#header .util > a {font-size: 14px; font-weight: 500; color: #777;}


#header .hAllAlram {position: relative;}
#header .hAllAlram .floatCount {display: flex; justify-content: center; align-items: center; position: absolute; top: 50%; right: -18px; width: 16px; height: 16px; border-radius: 50%; background: rgb(224, 28, 28); font-size: 11px; font-weight: 500; color: #fff; overflow: hidden; transform: translateY(-50%);}