article {display: flex; flex-direction: column; align-items: flex-start; margin: 0 auto; width: 100%; max-width: 768px;}

article .field {display: flex;}
article input {width: 120px; height: 22px;}

article label {min-width: 120px;}