article {display: flex; flex-direction: column; align-items: flex-start; margin: 0 auto; width: 100%; max-width: 768px;}

article .field {display: flex;}
article input {width: 120px; height: 22px;}

article label {min-width: 120px;}

.imgBtns{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s, transform 0.1s;
    text-align: center;
}