article {display: flex; flex-direction: column; align-items: flex-start; margin: 0 auto; width: 100%; max-width: 768px;}

article .field {
    display: flex;
    align-items: center;
}
article input {
    width: 120px;
    height: 22px;
    margin: 5px;
    padding: 3px;
}

article label {min-width: 120px;}

.memberform .btns {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.kakaobutton{
    margin: 20px 0;
}
.kakaobutton button{
    background:yellow; 
    color:black; 
    font-weight:bold; 
    width:100%;
    font-size: 110%;
    padding: 5px;
    border-radius: 5px;
}
.kakaobutton button:hover {
    background-color: #dddd00;
    transform: translateY(-2px);
}