.mypagebody{
    display:flex;
    width: 1200px;
    margin: 0 auto;
}
.mypage{
    padding: 30px; 
    padding-top: 0;
    width: calc(100% - 200px);
}
.mypage .field {
    margin: 5px;
}
.mypage .field input{
    width: 120px;
    height: 22px;
    padding: 3px;
}
.mypage .field label{
    font-weight: bold;
    color: #222222;
}
.addressList{
    border: #eeeeee 3px double;
    padding: 15px;
    margin: 3px 0;
    width: 100%;
    transition: border 0.4s, margin 0.2s;
}

.addressListText{
    margin-left: 3px;
    font-size: 95%;
    color: #111111;
}

.address_detail{
    width: 250px !important;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.nozipnumMsg{
    font-style: italic;
}


.shoparea{
    border: #eeeeee 3px double;
    padding: 20px;
    width: 100%;
}
.shoparea h3{
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 20px;
}