.mypage{
    padding: 30px; padding-top: 0;
}

.addressList{
    border: #eeeeee 3px double;
    padding: 8px;
    margin: 3px 0;
    width: 100%;
}

.addressListText{
    margin-left: 3px;
    font-size: 95%;
    color: #111111;
}

.address_detail{
    width: 250px;
    margin: 10px;
    margin-bottom: 0px;
}