* {margin: 0; padding: 0;}
p, span, label, h1, h2, h3, h4, h5, a {font-size: 16px; font-weight: 400; text-decoration: none; color: #000;}
input, textarea, select, button {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; border: none; background: transparent; outline: none; resize: none;}

input, textarea, select {border: 1px solid #999; border-radius: 6px; font-size: 14px;}

.display-block {display: block !important;}
.display-none {display: none !important;}
.line {flex-shrink: 0; margin: 30px auto 30px; width: 100%; height: 1px; background-color: #999;}



/* 메인페이지(전체 물건리스트) */
.shMain {display: flex; flex-direction: column; padding-top: 60px;}
.shMain .menuWrap {display: flex; flex-flow: wrap; gap: 15px 30px; margin: 0 auto 60px; width: 1024px;}
.shMain .menuWrap .list {width: calc(10% - 16px);}
.shMain .menuWrap .list > a {display: flex; flex-direction: column; align-items: center;}
.shMain .menuWrap .list > a > img {width: 100%; height: 100%; object-fit: cover;}

.shMain .shPostWrap {display: flex; flex-flow: wrap; gap: 30px 30px; margin: 60px auto 60px; width: 1024px;}

.shMain .shPostWrap .list {width: calc(20% - 24px);}
.shMain .shPostWrap .list > a {display: flex; flex-direction: column; align-items: flex-start; gap: 2px;}
.shMain .shPostWrap .list .imgBox {width: 100%; height: 180px; border-radius: 10px; overflow: hidden;} 
.shMain .shPostWrap .list .imgBox img {width: 100%; height: 100%; object-fit: cover;}
.shMain .shPostWrap .list .data {padding: 0 4px; box-sizing: border-box;}
.shMain .shPostWrap .list .data.title {display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis; font-size: 16px; font-weight: 400;}
.shMain .shPostWrap .list .data.price {font-size: 20px; font-weight: 600;}
.shMain .shPostWrap .list .data.date {font-size: 14px; font-weight: 600; color: #999;}

.shMain .btnWrap {display: flex; justify-content: center; align-items: center; position: fixed; bottom: 160px; right: 60px; width: 72px; height: 72px; border-radius: 50%; background-color: #555;}
.shMain .btnWrap .btnWrite {width: 100%; height: 100%; color: #fff; cursor: pointer;}



/* 글쓰기(내물건팔기) */
.shWrite {display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 12px; margin: 0 auto 0; width: 100%; max-width: 638px; height: 100vh;}
.shWrite .writeWrap {display: flex; flex-direction: column; gap: 22px; margin: 0 auto; padding: 40px 34px; width: 100%; border: 1px solid #999; border-radius: 12px; box-sizing: border-box; overflow: auto;}
.shWrite .mainTitle {font-size: 26px; font-weight: 500;}
.shWrite .writeWrap .inputWrap {display: flex; flex-direction: column;}
.shWrite .inputWrap .tit {flex-shrink: 0; padding-bottom: 6px; width: 100%; font-size: 16px; font-weight: 600; color: #555;}
.shWrite .writeWrap .inputWrap > label {font-size: 16px; color: #000;}
.shWrite .writeWrap .inputWrap > input[type=text] {padding: 2px 10px; height: 36px; box-sizing: border-box;}
.shWrite .writeWrap .inputWrap > .inpPrice {width: 82px;}
.shWrite .writeWrap .inputWrap > textarea {padding: 10px 10px; height: 160px; box-sizing: border-box;}

.shWrite .writeWrap .inputWrap.radio {flex-flow: wrap; gap: 0px 20px;}
.shWrite .inputWrap .radioBox {display: flex; align-items: center; gap: 6px;}
.shWrite .inputWrap .radioBox > label {cursor: pointer;}
.shWrite .inputWrap .radioBox > input[type=radio] {cursor: pointer;}

.shWrite .writeWrap .inputWrap.file {flex-direction: row; align-items: center; gap: 16px; border: none;}
.shWrite .writeWrap .inputWrap.file > label {display: flex; flex-direction: column; justify-content: center; align-items: center; flex-shrink: 0; width: 72px; height: 72px; border: 1px solid #555; border-radius: 12px; box-sizing: border-box; font-size: 30px; cursor: pointer; }
.shWrite .writeWrap .inputWrap.file > input[type=file].inpFile {display: none;}
.shWrite .writeWrap .inputWrap.file > label > span {font-size: 12px; color: #999;}
.shWrite .writeWrap .inputWrap.file .previewContainer {display: flex; align-items: center; gap: 12px;}
.shWrite .writeWrap .inputWrap.file .previewContainer .imgBox {position: relative; width: 72px; height: 72px;}
.shWrite .writeWrap .inputWrap.file .previewContainer .imgBox > img {width:100%; height: 100%; border: 1px solid #999; object-fit: cover; border-radius: 12px; overflow: hidden;}
.shWrite .writeWrap .inputWrap.file .previewContainer .removeBtn {display: flex; justify-content: center; align-items: center; position: absolute; bottom: -8px; right: -8px; width: 20px; height: 20px; background: #fff; border-radius: 50%; border: 1px solid #555; font-size: 12px; font-weight: 600; cursor: pointer;}

.shWrite .writeWrap .selectWrap > .tit {padding-bottom: 6px;}
.shWrite .writeWrap .selectWrap > select {padding: 0 6px; width: auto; height: 36px; box-sizing: border-box; font-weight: 600; color: #555;}

.shWrite .btnWrap {display: flex; justify-content: flex-end; align-items: center; gap: 8px; padding: 0 0px; width: 100%; box-sizing: border-box;}
.shWrite .btnWrap .navBtn {padding: 0 12px; min-width: 64px; height: 36px; border: 1px solid #999; border-radius: 6px; box-sizing: border-box; font-size: 14px; font-weight: 500; color: #555;}
.shWrite .btnWrap .pointBtn {background-color: #555; color: #fff;}



/* 글 디테일(내물건팔기) */
.shView {display: flex; flex-direction: column; align-items: center; gap: 12px; margin: 0 auto 0; width: 100%; max-width: 1024px;}
.shView .viewWrap {display: flex; flex-direction: column; gap: 22px; margin: 60px auto; width: 100%; border-radius: 12px; box-sizing: border-box;}

.shView .top {display: flex; gap: 6px;}

.shView .rayoutWrap {display: flex; gap: 30px;}
.shView .rayoutWrap .leftBox {display: flex; flex-direction: column; width: 50%; gap: 12px;}
.imgGroup .slick-slide, .imgGroup .slick-slide * {outline: none !important; box-shadow: none !important;}
.shView .rayoutWrap .leftBox .imgBox {width: 100%; height: 460px;}
.shView .rayoutWrap .leftBox .imgBox > img {width: 100%; height: 100%; object-fit: cover;}
.shView .rayoutWrap .leftBox .slick-dots {bottom: 15px;}
.shView .rayoutWrap .leftBox .slick-dots li {width: 10px; height: 10px; background: #bbb; border-radius: 50%;}
.shView .rayoutWrap .leftBox .slick-dots li.slick-active {background-color: #555;}
.shView .rayoutWrap .leftBox .slick-dots li button::before {display: none;}

.shView .userWrap {display: flex; justify-content: space-between; align-items: center;}
.shView .userProfile {display: flex; gap: 4px;}
.shView .userProfile .profileImg {width: 62px; height: 62px; border-radius: 50%; overflow: hidden;}
.shView .userProfile .profileImg > img {width: 100%; height: 100%; object-fit: cover;}
.shView .profileInfo {display: flex; flex-direction: column; justify-content: center; gap: 6px;}
.shView .profileInfo .nickname {font-size: 18px; font-weight: 600; color: #555;}
.shView .userState {display: flex; align-items: center; font-size: 16px; font-weight: 600; color: #555;}
.shView .userState > span {padding-left: 6px; font-size: 20px;}

.shView .rayoutWrap .rightBox {display: flex; flex-direction: column; gap: 10px; width: 50%;}
.shView .rayoutWrap .rightBox .dataBoxWrap {display: flex; gap: 8px;}
.shView .rayoutWrap .rightBox .dataBoxWrap.dobule {display: flex; gap: 6px;}
.shView .rayoutWrap .rightBox .dataBoxWrap.dobule > div {font-size: 14px; font-weight: 500; color: #999;}
.shView .rayoutWrap .rightBox .dataBoxWrap .tit {font-size: 18px; font-weight: 400;}
.shView .rayoutWrap .rightBox .dataBoxWrap .util {display: flex; gap: 4px;}
.shView .rayoutWrap .rightBox .dataBoxWrap .util > span {font-size: 16px; font-size: 500; color: #999;}
.shView .rayoutWrap .rightBox .dataBox {font-size: 18px; font-weight: 600;}
.shView .rayoutWrap .rightBox .mainTitle {font-size: 26px; font-weight: 500;}
.shView .rayoutWrap .rightBox .price {font-size: 26px; font-weight: 600;} 
.shView .rayoutWrap .rightBox .tta { width: 100%; height: 260px; box-sizing: border-box; border: none; font-size: 18px; font-weight: 500;}



.shView .btnWrap {display: flex; justify-content: flex-end; align-items: center; gap: 8px; margin-bottom: 60px; padding: 0 0px; width: 100%; box-sizing: border-box;}
.shView .btnWrap .navBtn {padding: 0 12px; min-width: 64px; height: 36px; border: 1px solid #999; border-radius: 6px; box-sizing: border-box; font-size: 14px; font-weight: 500; color: #555;}
.shView .btnWrap .pointBtn {background-color: #555; color: #fff;}
