* {margin: 0; padding: 0;}
p, span, label, h1, h2, h3, h4, h5, a {font-size: 16px; font-weight: 400; text-decoration: none; color: #000;}
input, textarea, select, button {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; border: none; background: transparent; outline: none; resize: none;}

input, textarea, select {border: 1px solid #999; border-radius: 6px; font-size: 14px; resize: none;}

textarea::-webkit-scrollbar {
   display: none;
 }

.display-block {display: block !important;}
.display-none {display: none !important;}
.line {flex-shrink: 0; margin: 30px auto 30px; width: 100%; height: 1px; background-color: #999;}
button {cursor: pointer;}


/* 메인페이지(전체 물건리스트) */
.shMain {display: flex; flex-direction: column; padding-top: 60px;}
.shMain .menuWrap {display: flex; flex-flow: wrap; gap: 15px 30px; margin: 0 auto 60px; width: 1024px;}
.shMain .menuWrap .list {width: calc(10% - 16px);}
.shMain .menuWrap .list > a {display: flex; flex-direction: column; align-items: center;}
.shMain .menuWrap .list > a > img {width: 100%; height: 100%; object-fit: cover;}

.shMain .shPostWrap {display: flex; flex-flow: wrap; gap: 30px 30px; margin: 60px auto 60px; width: 1024px;}

.shMain .shPostWrap .list {width: calc(20% - 24px);}
.shMain .shPostWrap .list > a {display: flex; flex-direction: column; align-items: flex-start; gap: 2px;}
.shMain .shPostWrap .list .imgBox {width: 100%; height: 180px; border-radius: 10px; overflow: hidden;} 
.shMain .shPostWrap .list .imgBox img {width: 100%; height: 100%; object-fit: cover;}
.shMain .shPostWrap .list .data {padding: 0 4px; box-sizing: border-box;}
.shMain .shPostWrap .list .data.title {display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; text-overflow: ellipsis; font-size: 16px; font-weight: 400;}
.shMain .shPostWrap .list .data.price {font-size: 20px; font-weight: 600;}
.shMain .shPostWrap .list .data.date {font-size: 14px; font-weight: 600; color: #999;}

.shMain .btnWrap {display: flex; justify-content: center; align-items: center; position: fixed; bottom: 160px; right: 60px; width: 72px; height: 72px; border-radius: 50%; background-color: #555;}
.shMain .btnWrap .btnWrite {width: 100%; height: 100%; color: #fff; cursor: pointer;}



/* 글쓰기(내물건팔기) */
.shWrite {display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 12px; margin: 0px auto 0px; padding: 60px 0; width: 100%; max-width: 638px;}
.shWrite .writeWrap {display: flex; flex-direction: column; gap: 22px; margin: 0 auto; padding: 40px 34px; width: 100%; border: 1px solid #999; border-radius: 12px; box-sizing: border-box; overflow: auto;}
.shWrite .mainTitle {font-size: 26px; font-weight: 500;}
.shWrite .writeWrap .inputWrap {display: flex; flex-direction: column;}
.shWrite .inputWrap .tit {flex-shrink: 0; padding-bottom: 6px; width: 100%; font-size: 16px; font-weight: 600; color: #555;}
.shWrite .writeWrap .inputWrap > label {font-size: 16px; color: #000;}
.shWrite .writeWrap .inputWrap > input[type=text] {padding: 2px 10px; height: 36px; box-sizing: border-box;}
.shWrite .writeWrap .inputWrap > .inpPrice {width: 82px;}
.shWrite .writeWrap .inputWrap > textarea {padding: 10px 10px; height: 160px; box-sizing: border-box;}

.shWrite .writeWrap .inputWrap.radio {flex-flow: wrap; gap: 0px 20px;}
.shWrite .inputWrap .radioBox {display: flex; align-items: center; gap: 6px;}
.shWrite .inputWrap .radioBox > label {cursor: pointer;}
.shWrite .inputWrap .radioBox > input[type=radio] {cursor: pointer;}

.shWrite .writeWrap .inputWrap.file {flex-direction: row; align-items: center; gap: 16px; border: none;}
.shWrite .writeWrap .inputWrap.file > label {display: flex; flex-direction: column; justify-content: center; align-items: center; flex-shrink: 0; width: 72px; height: 72px; border: 1px solid #555; border-radius: 12px; box-sizing: border-box; font-size: 30px; cursor: pointer; }
.shWrite .writeWrap .inputWrap.file > input[type=file].inpFile {display: none;}
.shWrite .writeWrap .inputWrap.file > label > span {font-size: 12px; color: #999;}
.shWrite .writeWrap .inputWrap.file .previewContainer {display: flex; align-items: center; gap: 12px;}
.shWrite .writeWrap .inputWrap.file .previewContainer .imgBox {position: relative; width: 72px; height: 72px;}
.shWrite .writeWrap .inputWrap.file .previewContainer .imgBox > img {width:100%; height: 100%; border: 1px solid #999; object-fit: cover; border-radius: 12px; overflow: hidden;}
.shWrite .writeWrap .inputWrap.file .previewContainer .removeBtn {display: flex; justify-content: center; align-items: center; position: absolute; bottom: -8px; right: -8px; width: 20px; height: 20px; background: #fff; border-radius: 50%; border: 1px solid #555; font-size: 12px; font-weight: 600; cursor: pointer;}

.shWrite .writeWrap .selectWrap > .tit {padding-bottom: 6px;}
.shWrite .writeWrap .selectWrap > select {padding: 0 6px; width: auto; height: 36px; box-sizing: border-box; font-weight: 600; color: #555;}

.shWrite .btnWrap {display: flex; justify-content: flex-end; align-items: center; gap: 8px; padding: 0 0px; width: 100%; box-sizing: border-box;}
.shWrite .btnWrap .navBtn {padding: 0 12px; min-width: 64px; height: 36px; border: 1px solid #999; border-radius: 6px; box-sizing: border-box; font-size: 14px; font-weight: 500; color: #555;}
.shWrite .btnWrap .pointBtn {background-color: #555; color: #fff;}



/* 글 디테일(내물건팔기) */
.shView {display: flex; flex-direction: column; align-items: center; gap: 12px; margin: 0 auto 0; width: 100%; max-width: 1024px;}
.shView .viewWrap {display: flex; flex-direction: column; gap: 22px; margin: 60px auto; width: 100%; border-radius: 12px; box-sizing: border-box;}

.shView .top {display: flex; gap: 6px;}

.shView .rayoutWrap {display: flex; gap: 50px;}
.shView .rayoutWrap .leftBox {display: flex; flex-direction: column; width: 50%; gap: 12px;}
.imgGroup .slick-slide, .imgGroup {border-radius: 12px; overflow: hidden;}
.imgGroup .slick-slide, .imgGroup .slick-slide * {outline: none !important; box-shadow: none !important;}
.shView .rayoutWrap .leftBox .imgBox {width: 100%; height: 460px;}
.shView .rayoutWrap .leftBox .imgBox > img {width: 100%; height: 100%; object-fit: cover;}
.shView .rayoutWrap .leftBox .slick-dots {bottom: 15px;}
.shView .rayoutWrap .leftBox .slick-dots li {width: 10px; height: 10px; background: #bbb; border-radius: 50%;}
.shView .rayoutWrap .leftBox .slick-dots li.slick-active {background-color: #555;}
.shView .rayoutWrap .leftBox .slick-dots li button::before {display: none;}

.shView .leftBox .userWrap {display: flex; justify-content: space-between; align-items: center;}
.shView .leftBox .userProfile {display: flex; gap: 4px;}
.shView .leftBox .userProfile .profileImg {width: 62px; height: 62px; border-radius: 50%; overflow: hidden;}
.shView .leftBox .userProfile .profileImg > img {width: 100%; height: 100%; object-fit: cover;}
.shView .leftBox .profileInfo {display: flex; flex-direction: column; justify-content: center; gap: 6px;}
.shView .leftBox .profileInfo .nickname {font-size: 18px; font-weight: 600; color: #555;}
.shView .leftBox .userState {display: flex; align-items: center; font-size: 16px; font-weight: 600; color: #555;}
.shView .leftBox .userState > span {padding-left: 6px; font-size: 20px;}

.shView .leftBox .suggestWrap {display: flex; flex-direction: column; gap: 12px; margin-top: 10px;}
.shView .leftBox .suggestWrap .suggestList {display: flex; justify-content: flex-end; align-items: center; gap: 6px; padding: 10px; background-color: #ededed; border-radius: 10px; box-sizing: border-box; font-size: 14px; font-weight: 600; color: #555;}
.shView .leftBox .suggestWrap .suggestList .img {width: 48px; height: 48px; border-radius: 4px; overflow: hidden;}
.shView .leftBox .suggestWrap .suggestList .img > img {width: 100%; height: 100%; object-fit: cover;}
.shView .leftBox .suggestWrap .suggestList .name {font-size: 14px; font-weight: 600; color: #555;}
.shView .leftBox .suggestWrap .suggestList .price {font-size: 20px; font-weight: 700; color: #121212;}


.shView .rayoutWrap .rightBox {display: flex; flex-direction: column; gap: 10px; width: 50%;}
.shView .rayoutWrap .rightBox .dataBoxWrap {display: flex; gap: 8px;}
.shView .rayoutWrap .rightBox .dataBoxWrap.dobule {display: flex; gap: 6px;}
.shView .rayoutWrap .rightBox .dataBoxWrap.dobule > div {font-size: 14px; font-weight: 500; color: #999;}
.shView .rayoutWrap .rightBox .dataBoxWrap .tit {font-size: 18px; font-weight: 400;}
.shView .rayoutWrap .rightBox .dataBoxWrap .util {display: flex; gap: 4px;}
.shView .rayoutWrap .rightBox .dataBoxWrap .util > span {font-size: 16px; font-size: 500; color: #999;}
.shView .rayoutWrap .rightBox .dataBox {font-size: 18px; font-weight: 600;}
.shView .rayoutWrap .rightBox .mainTitle {font-size: 26px; font-weight: 500;}
.shView .rayoutWrap .rightBox .price {font-size: 26px; font-weight: 600;} 
.shView .rayoutWrap .rightBox .tta { width: 100%; height: 260px; box-sizing: border-box; border: none; font-size: 18px; font-weight: 500;}

.shView .rayoutWrap .rightBox .eventArea {display: flex; gap: 10px; width: 100%;}
.shView .rayoutWrap .rightBox .eventArea .btnEvent {display: flex; justify-content: center; align-items: center; width: 100%; height: 42px; border-radius: 8px; box-sizing: border-box; font-size: 16px; font-weight: 500; color: #555; overflow: hidden;}
.shView .rayoutWrap .rightBox .eventArea .btnEvent.btnChat {background-color: #ddd;}
.shView .rayoutWrap .rightBox .eventArea .btnEvent.btnBuy {background-color: rgb(105, 221, 105);}
.shView .rayoutWrap .rightBox .eventArea .btnEvent.btnZZim {flex-shrink: 0; width: 42px; border: 1px solid #ddd;}
.shView .rayoutWrap .rightBox .eventArea .btnEvent.btnLike
{flex-shrink: 0; width: 42px; border: 1px solid #ddd;}


.shView .btnWrap {display: flex; justify-content: flex-end; align-items: center; gap: 8px; margin-bottom: 60px; padding: 0 0px; width: 100%; box-sizing: border-box;}
.shView .btnWrap .navBtn {padding: 0 12px; min-width: 64px; height: 36px; border: 1px solid #999; border-radius: 6px; box-sizing: border-box; font-size: 14px; font-weight: 500; color: #555;}
.shView .btnWrap .pointBtn {background-color: #555; color: #fff;}




/* 채팅 팝업*/
.shView .popupWrap {display: flex; flex-direction: column; position: fixed; z-index: 2000; top: 50%; right: 50%; width: 360px; padding: 0px 0px 0px; background-color: #fff; box-shadow: 0px 0px 7px 3px #cfcfcf; box-sizing: border-box; border-radius: 8px; overflow: hidden; transform: translate(50%, -50%);}
.shView .popupWrap .popupHeader {display: flex; justify-content: space-between; padding: 28px 28px 24px; box-sizing: border-box; background:#e7b7b7;}
.shView .popupWrap .pTitle {font-size: 18px; font-weight: 600; color: #555;}
.shView .popupWrap .bthClose { font-size: 18px; font-weight: 500;}

/* 채팅룸리스트 */
.shView .popupWrap .pChatListWrap {display: flex; flex-direction: column; flex-shrink: 0; margin-top: 0px; height: 568px; overflow: auto;}
.shView .popupWrap .pcListBox {display: flex; flex-direction: column; flex-shrink: 0; padding: 22px 28px; width: 100%; height: 344px; border-radius: 8px; box-sizing: border-box; overflow: auto;}
.shView .popupWrap .pcListBox + .pcListBox {height: 224px; background-color: #fafafa;}
.shView .popupWrap .pcListBox .pcLabel {padding: 0 0 12px 0; font-size: 16px; font-weight: 700; color: #999;}
.shView .popupWrap .pChatList {display: flex; justify-content: space-between; align-items: center; gap: 18px; flex-shrink: 0; width: 100%; height: 72px; border-bottom: 1px solid #ddd; box-sizing: border-box; cursor: pointer;}
.shView .popupWrap .pChatList .left {flex-shrink: 0; width: 38px; height: 38px; border: 1px solid #ddd; border-radius: 36%; box-sizing: border-box; overflow: hidden;}
.shView .popupWrap .pChatList .left > img {width: 100%; height: 100%; object-fit: cover;}
.shView .popupWrap .pChatList .center {display: flex; flex-direction: column; gap: 2px; width: 100%; height: 42px;}
.shView .popupWrap .pChatList .center .pdTitle {max-width: 164px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 14px; font-weight: 700; color: #555;}
.shView .popupWrap .pChatList .center .rMsg {max-width: 164px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 14px; font-weight: 500; color: #bbb;}
.shView .popupWrap .pChatList .right {display: flex; flex-direction: column; align-items: flex-end; flex-shrink: 0; gap: 4px; height: 42px;}
.shView .popupWrap .pChatList .right .rTime {font-size: 12px; font-weight: 500; color: #999;}
.shView .popupWrap .pChatList .right .alram {display: flex; justify-content: center; align-items: center; width: 18px; height: 18px; background: rgb(250, 86, 86); border-radius: 50%; font-size: 12px; color: #f8f8f8; font-weight: 500; overflow: hidden;}
.shView .popupWrap .pChatList .right .alram.none {background: #fff; color: #fff;}
.shView .popupWrap .sendChat {display: flex; justify-content: center; align-items: center; margin: 0 auto; padding: 6px 18px; border: 1px solid #999; border-radius: 4px; box-sizing: border-box; font-size: 14px; font-weight: 500; color: #999; overflow: hidden; transition: all 0.18s;}
.shView .popupWrap .sendChat:hover {border: 1px solid #bbb; background: #bbb; color: #fff;}
.bulsang {display: flex; justify-content: center; align-items: center; height: 100%; font-size: 14px; color: #555;}

/* 채팅창 */
.shView .popupWrap .chatRoom {display: flex; flex-direction: column; padding: 16px 12px; width: 100%; box-sizing: border-box;}
.shView .popupWrap .chatRoom .buyerInfo {display: flex; align-items: center; gap: 8px;}
.shView .popupWrap .chatRoom .buyerInfo .imgBox {width: 50px; height: 50px; border-radius: 36%; overflow: hidden;}
.shView .popupWrap .chatRoom .buyerInfo .imgBox > img {width: 100%; height: 100%; object-fit: cover;}
.shView .popupWrap .chatRoom .buyerInfo .buyerName {font-size: 20px; font-weight: 700; color: #555;}
.shView .popupWrap .chatRoom .buyerInfo .buyerName > span {font-size: 20px; font-weight: 500; color: #666;}

/* 소켓방 */
.privateChatRoom {display: flex; flex-direction: column; gap: 8px;}
.privateChatRoom .oneToOneArea {margin-top: 16px; padding: 0px 12px 0 12px; height: 340px; box-sizing: border-box; overflow-y: auto;}
.privateChatRoom .oneToOneArea::-webkit-scrollbar {width: 8px;}
.privateChatRoom .oneToOneArea::-webkit-scrollbar-button {display: none;}
.privateChatRoom .oneToOneArea::-webkit-scrollbar-thumb {background: #e48d8d; border-radius: 20px; overflow: hidden;}
.privateChatRoom .oneToOneArea .hello {line-height: 20px; text-align: center; font-size: 12px; font-weight: 500; color: #999;}
.privateChatRoom .oneToOneArea .chat {display: flex; align-items: flex-start; gap: 4px; margin: 10px 0;}
.privateChatRoom .oneToOneArea .chat.left {}
.privateChatRoom .oneToOneArea .chat.right {display: flex; flex-direction: row-reverse;}
.privateChatRoom .oneToOneArea .chat .name {flex-shrink: 0; padding-right: 6px; font-size: 16px; font-weight: 600; color: #555;}
.privateChatRoom .oneToOneArea .chat .msgWrap {display: flex; gap: 6px; align-items: flex-end;}
.privateChatRoom .oneToOneArea .chat .msg {padding: 4px 10px; box-sizing: border-box; border-radius: 10px; font-size: 15px; font-weight: 500; color: #555; overflow: hidden; white-space: pre-wrap;}
.privateChatRoom .oneToOneArea .chat.left .msg { background-color: #e48d8d;}
.privateChatRoom .oneToOneArea .chat.right .name {display: none;}
.privateChatRoom .oneToOneArea .chat.right .msg { background-color: #ffff52;}
.privateChatRoom .oneToOneArea .chat .indate {display: flex; align-items: flex-end; flex-shrink: 0; height: 100%; font-size: 10px; font-weight: 500; color: #555;}
.privateChatRoom .eventArea {display: flex; flex-direction: column; align-items: flex-end; border: 1px solid #999; border-radius: 8px; height: 128px;}
.privateChatRoom .eventArea .chatInpTxt {padding:6px 12px; width: 100%; height: 100%; border:none !important; box-sizing: border-box;}
.privateChatRoom .eventArea .sendMsg {display: flex; justify-content: center; align-items: center; flex-shrink: 0; margin: 8px; width: 52px; height: 32px; background: #e48d8d; border-radius: 6px; font-size: 14px; font-weight: 500; color: #fff;}



/* 가격제안 */
.shView .dimm {position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); cursor: pointer;}
.shView .modelSuggest {display: flex; flex-direction: column; gap: 28px; position: fixed; z-index: 1000; top: 50%; left: 50%; padding: 40px 30px; width: 360px; border-radius: 8px; box-sizing: border-box; background: #fff; transform: translate(-50%, -50%); overflow: hidden;}
.shView .modelSuggest .title {font-size: 24px; font-weight: 600; color: #555;}
.shView .modelSuggest .eventArea {display: flex; flex-direction: column; gap: 22px;}
.shView .modelSuggest .currentPrice {display: flex; align-items: center; gap: 6px; margin-left: 10px;}
.shView .modelSuggest .suggestPrice {display: flex; align-items: center; gap: 6px; margin-left: 10px;}
.shView .modelSuggest .currentPrice > label {font-size: 16px; font-weight: 700; color: #555;}
.shView .modelSuggest .suggestPrice > label {font-size: 16px; font-weight: 700; color: #555;}
.shView .modelSuggest .currentPrice > span {font-size: 22px; font-weight: 500; color: #555;}
.shView .modelSuggest .currentPrice > span + span {font-size: 16px; font-weight: 700; color: #555;}
.shView .modelSuggest .suggestPrice > input {padding: 0 8px; width: 160px; height: 36px; box-sizing: border-box; text-align: right; font-size: 22px; font-weight: 500; color: #555;}
.shView .modelSuggest .suggestPrice > span {font-size: 16px; font-weight: 700; color: #555;}
.shView .modelSuggest .vMsg {margin-left: 10px; font-size: 12px; font-weight: 500; color: red;  white-space: pre-line;}
.shView .modelSuggest .mBtnWrap {display: flex; justify-content: center; gap: 16px;}
.shView .modelSuggest .mBtnWrap > button {margin-top: 30px; width: 88px; height: 32px; border: 1px solid #555; border-radius: 4px; font-size: 14px; font-weight:700; color: #555;}
