* {margin: 0; padding: 0;}
a {text-decoration: none; color: #000;}



.shMain {display: flex; flex-direction: column;}
.shMain .menuWrap {display: flex; flex-flow: wrap; gap: 15px 30px; margin: 0 auto; width: 1024px;}
.shMain .list {width: calc(10% - 27px);}
.shMain .list > a {display: flex; flex-direction: column; align-items: center;}
.shMain .list > a > img {width: 100%; height: 100%; object-fit: cover;}

.shMain .shPostWrap {display: flex; flex-flow: wrap; gap: 15px 30px; margin: 60px auto 0; width: 1024px;}