/* shop 전용 CSS (Shop 컴포넌트용) */
.shop-main {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

/* 검색 바 */
.shop-search-bar {
    display: flex;
    gap: 12px;
    margin: 0 auto 30px;
    padding: 12px 16px;
    border: 1px solid #ddd;
    border-radius: 999px;
    background: #fff;
    max-width: 540px;
}
.shop-search-bar input {
    flex: 1;
    border: none;
    font-size: 16px;
}
.shop-search-bar input::placeholder {
    color: #bbb;
}
.shop-search-bar button {
    padding: 12px 28px;
    border-radius: 999px;
    border: none;
    background: #ff7e36;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

/* 카테고리 메뉴 */
.shop-menu-wrap {
    display: flex;
    flex-flow: wrap;
    gap: 15px 30px;
    margin: 0 auto 60px;
    width: 1024px;
}
.shop-list {
    position: relative;
    width: calc(10% - 16px);
}
.shop-list > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop-list > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shop-tit {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 4px;
}

/* 상품 추가 버튼 */
.shop-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 160px;
    right: 60px;
}
.shop-btn {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #555;
    color: #fff;
    cursor: pointer;
}
.shop-btn-add {
    font-size: 14px;
    font-weight: 600;
}
