.style-user-page {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.style-profile-header {
  display: flex;
  align-items: center;
  margin-top: 0px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  padding-top: 10px;
}

.style-profile-left {
  flex: 0 0 150px;
}

.style-profile-img-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.style-profile-right {
  flex: 1;
  margin-left: 30px;
}

.style-nickname-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.style-follow-btn {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.2s;
}
.style-follow-btn.following {
  background: gray;
}

.style-follow-info {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  display: flex;
  gap: 20px;
}

.style-intro-text {
  margin-top: 10px;
  color: #333;
}

.style-user-posts {
  margin-top: 40px;
}

.style-post-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 최대 4개까지 */
  gap: 20px;
  align-items: start;
}

.style-post-card {
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  height: auto;
}

.style-post-card:hover {
  transform: scale(1.02);
}

.style-post-image {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.style-post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 영역 꽉 채우기 */
  display: block;
}

.style-view-count {
  position: absolute;
  bottom: 6px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6); /* 반투명 배경 */
  color: white;
  font-size: 13px;
  padding: 2px 6px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.style-post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.style-user-mini {
  display: flex;
  align-items: center;
  gap: 6px;
}

.style-mini-profile {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.style-likes {
  font-size: 14px;
  color: #e0245e;
}
