.AdminForm{
    width:600px;
    height:300px;
    margin: 0 auto;
    border:1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding:20px;
    margin-top: 50px;
}
.italic{
    font-style: italic;
}
input[type=checkbox]{
    flex: 0;
}
img{
    max-width: 400px;
}
button{
    cursor: pointer;
}
.graybtn{
    background: #a9a9a9 !important;
}
.graybtn:hover{
    background: #989898 !important;
}
.redbtn{
    background: red !important;
}
.redbtn:hover{
    background: #ee1111 !important;
}
.field{
    width:100%;
    padding:10px;
    box-sizing: border-box;
    display: flex;
}

.field label{
    flex:1;
    font-weight: bold;
}

input{
    flex:3;
    padding:5px;
    margin-right: 4px;
}

.btns{
    display: flex;
}
.btns button{
    flex:1;
    padding:5px;
    margin:2px;
    background: #ff7e36;
    color:white;
    border: none;
    border-radius: 5px;
    font-size: 90%;
}
.btns button:hover{
    background: #ee6d25;
}
.detailPageBtns{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.detailPageBtns button{
    width: 30%;
    padding:7px;
    margin:2px;
    color:white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: #ff7e36;
    font-size: 100%;
}
.detailPageBtns button:hover{
    background: #ee6d25;
}

.logout{
    background:white;
    border:none;
    border-radius:3px;
    float:right;
    padding:3px 6px;
    color:#111111;
}
.logout:hover{
    background:#f8f8f8;
}
.logout:active{
    background:#cccccc;
}
.adminContainer{
    margin:0 auto;
    display: flex;
}
.loginadminarea{
    color: white;
    background-color: #ff4e36;
    padding: 25px;
    border-radius: 5px;
    font-size: 110%;
    margin: 20px 5px;
    font-weight: bold;
}
.adminmenu{
    width:500px;
    background-color: #ff7e36;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 120vh;
}
.menutitle{
    margin: 5px 0;
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    color:white;
    cursor: pointer;
}
.menutitle:hover{
    background-color : #ff6e26
}
a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.title{
    display: flex;
    justify-content: center;
    padding: 15px;
    font-weight: bold;
    font-size: 130%;
}
.productTable{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.productTable .row{
    display: flex;
}
.productTable .row .col{
    flex:1;
    padding:20px 0;
    text-align: center;
    border:1px dotted #8a2be2;
    margin: 1px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detailTitle{
    background-color: rgb(182, 142, 219);
    color:white;
    font-weight: bold;
}
.tableTitle .col{
    background-color: rgb(182, 142, 219);
    color:white;
    font-weight: bold;
}
.row:hover{
    background-color: #eeeeee;
    cursor: pointer;
    transition: 3;
}
.writeProductRow .detailTitle{
    padding: 5px;
}
.writearea{
    padding: 5px;
}
.detailTable .row:hover{
    background-color: white;
    cursor: auto;
}
.tableTitle:hover{
    background-color: white;
    cursor:auto	
}
.productTable .field{
    width:100%;
    padding:5px;
    display: flex;
    border:1px dotted blue;
    box-sizing: border-box;
}

.productTable .field label{
    flex:1;
    padding:3px;
}
.productTable .field input{
    flex:5;
    padding:3px;
}
.productTable .field div{
    flex:5;
}
.currentPage{
    font-weight: bold;
}
.writeReplyTitle{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 120%;
}
.qnaTextarea{
    display: flex;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
}
.qnaTextarea textarea{
    flex: 1;
    height: 400px;
}

.inputWrap.file {
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border: none;
}
.inputWrap {
    display: flex;
    flex-direction: column;
}

.inputWrap.file > label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 72px;
    height: 72px;
    border: 1px solid #555;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 30px;
    cursor: pointer;
}
.inputWrap.file > label > span {
    font-size: 12px;
    color: #999;
}
.inputWrap.file > input[type=file].inpFile {
    display: none;
}
/* .inputWrap.file .previewContainer {
    
} */
.inputWrap.file .previewContainer .twoline {
    display: flex;
    align-items: center;
    gap: 12px;
}
.inputWrap.file .previewContainer .twoline:last-child {
    margin-top: 5px;
}
.inputWrap.file .previewContainer .twoline .imgBox {
    position: relative;
    width: 72px;
    height: 72px;
}
.inputWrap.file .previewContainer .twoline .imgBox > img {
    width: 100%;
    height: 100%;
    border: 1px solid #999;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
}
.inputWrap.file .previewContainer .twoline .removeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #555;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    z-index: 10;
}
.detailImg img{
    max-width: 100px;
    margin: 10px;
    cursor: pointer;
}

.optionListRow{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.optionListCol{
    width:calc(50% - 6px);
    padding: 20px 0;
    text-align: center;
    border: 1px dotted #8a2be2;
    margin: 1px;
    overflow: hidden;
}
.optionListCol:hover{
    background-color: #eeeeee;
    cursor: pointer;
    transition: 3;
}