server:
  port: 8070

spring:
  application:
    name: SPServer
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/jimbim
    username: root
    password: adminuser
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: #
    password: #
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          timeout: 5000

kakao:
  client_id: #
  redirect_uri: http://localhost:8070/member/kakaoLogin